<nav class="navbar bg-dark navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand m-auto" href="/">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" 
            style="width: 60px;" alt="logo">
        </a>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/login/admin/platos">Platos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/admin/pendientes">Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/admin/recibidos">Recibidos</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-success">ADMIN</button>
            </div>
        </div>
    </div>
</nav>
<h1 class="text-center p-3">Admin</h1>
<div class="nuevo position-relative pt-5">
    <div class="position-absolute top-50 start-50 translate-middle">
        <button id="bNuevo" class="btn btn-success">Nuevo Plato</button>
    </div>
</div>
<div id="divNuevo"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div id="tabla" class="m-5">
                <form id="fEditarEliminar">
                    <table class="table table-striped table-responsive-sm">
                        <tr>
                            <th class="text-white">Número</th>
                            <th class="text-white">Nombre</th>
                            <th class="text-white">Precio</th>
                            <th class="text-white">Foto</th>
                            <th class="text-white">Ingredientes</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {{#each lcarta}}

                            <tr>
                                <td class="text-light" id="numero">{{this.numero}}</td>
                                <td class="text-light" id="{{this.numero}}nombre">{{this.nombre}}</td>
                                <td class="text-light" id="{{this.numero}}precio">{{this.precio}}</td>
                                <td class="text-light" id="{{this.numero}}foto">{{this.foto}}</td>
                                <td class="text-light" id="{{this.numero}}ingredientes">{{this.ingredientes}}</td>
                                <td class="text-light" id="{{this.numero}}editar">
                                    <i onclick="editar('{{this.numero}}','{{this.nombre}}','{{this.precio}}','{{this.foto}}','{{this.ingredientes}}')" class="fa-solid fa-pencil"></i>
                                </td>
                                <td class="text-light">
                                    <i onclick="eliminar({{this.numero}})" class="fa-solid fa-trash"></i>
                                </td>
                            </tr>

                        {{/each}}
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="/admin.js"></script>