<nav class="navbar navbar-expand-md bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand m-auto px-4" href="/">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" 
            style="width: 60px;" alt="logo">
        </a>
    </div>
</nav>
<h1 class="text-center p-5">Menús</h1>
<div id="listaMenu">
    <div class="row p-5">
        {{#each lcarta}}

            <div class="col-sm-12 mb-3">
                <div class="card mb-3 bg-dark">
                    <div class="row">
                        <div class="col-4">
                            <img class="rounded-start" src="/img/{{this.foto}}" alt="{{this.foto}}" width="100%">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title text-white">{{this.numero}}. {{this.nombre}}</h5>
                                <p class="card-text px-3 text-white">{{this.ingredientes}}</p>
                                <div class="{{this.numero}}{{this.nombre}} d-flex align-items-center gap-2 my-3" style="max-width: 150px">
                                    <button class="btn btn-primary" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                                    <input type="number" value="0" max="10" min="0" class="form-control text-center">
                                    <button class="btn btn-primary" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
                                </div>
                                {{#if this.precio}}
                                    <a href="" class="btn btn-primary">{{this.precio}} €</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>
</div>

<footer class="p-4 m-0 border-0 bg-dark">
    <div class="nuevo position-relative pt-5">
        <div class="position-absolute top-50 start-50 translate-middle">
            <button class="btn btn-success"><a href="/login" class="text-white link-underline link-underline-opacity-0">Portal de Gestión</a></button>
        </div>
    </div>
</footer>

<script src="/main.js"></script>
