<title>Platos Pedidos</title>
<nav class="navbar bg-dark navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand m-auto" href="/">
            <img src="/img/lotus.webp" style="width: 60px;" alt="logo">
        </a>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login/admin">Platos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/admin/mesas">Mesas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login/admin/pendientes">Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/admin/recibidos">Recibidos</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-success">ADMIN</button>
            </div>
        </div>
    </div>
</nav>
<h1 class="text-center p-3">Platos Pedidos</h1>
{{#each lmesa}}
    <div class="px-5 py-3">
        <div class="px-3">
            <h1 class="mt-3">Mesa {{this.numero}}</h1>
            <hr>
            <p>Nº personas: {{this.personas}}</p>
            {{#if (lookup ../lplato this.numero)}}
                <ul>
                    {{#each (lookup ../lplato this.numero)}}
                        <li class="m-1">
                            {{this.numero}}: {{this.nombre}} X{{this.cantidad}}
                            <button onclick="recibido({{../this.numero}}, {{this.numero}})" class="ms-3 btn btn-success">Recibido</button>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="text-center">Aún no ha pedido ningún plato la mesa {{this.numero}}</p>
            {{/if}}
        </div>
    </div>
{{/each}}

<script src="/pedidos.js"></script>